@font-face {
  font-family: 'boba-icon';
  src: url('../font/boba-icon.eot?11372047');
  src: url('../font/boba-icon.eot?11372047#iefix') format('embedded-opentype'),
       url('../font/boba-icon.woff2?11372047') format('woff2'),
       url('../font/boba-icon.woff?11372047') format('woff'),
       url('../font/boba-icon.ttf?11372047') format('truetype'),
       url('../font/boba-icon.svg?11372047#boba-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'boba-icon';
    src: url('../font/boba-icon.svg?11372047#boba-icon') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "boba-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-add:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e801'; } /* '' */
.icon-boba:before { content: '\e802'; } /* '' */
.icon-cake:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-chevron-double-left:before { content: '\e805'; } /* '' */
.icon-chevron-double-right:before { content: '\e806'; } /* '' */
.icon-coffee:before { content: '\e808'; } /* '' */
.icon-dashboard:before { content: '\e809'; } /* '' */
.icon-date:before { content: '\e80a'; } /* '' */
.icon-dine-in:before { content: '\e80b'; } /* '' */
.icon-download:before { content: '\e80c'; } /* '' */
.icon-drink:before { content: '\e80d'; } /* '' */
.icon-dropdown:before { content: '\e80e'; } /* '' */
.icon-edit:before { content: '\e80f'; } /* '' */
.icon-eye:before { content: '\e810'; } /* '' */
.icon-filter:before { content: '\e811'; } /* '' */
.icon-hide:before { content: '\e812'; } /* '' */
.icon-menu:before { content: '\e813'; } /* '' */
.icon-menu-circle:before { content: '\e814'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-money:before { content: '\e817'; } /* '' */
.icon-moon:before { content: '\e818'; } /* '' */
.icon-notification:before { content: '\e819'; } /* '' */
.icon-order:before { content: '\e81b'; } /* '' */
.icon-print:before { content: '\e81c'; } /* '' */
.icon-save:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-sort:before { content: '\e81f'; } /* '' */
.icon-stats:before { content: '\e820'; } /* '' */
.icon-sun:before { content: '\e821'; } /* '' */
.icon-takeaway:before { content: '\e822'; } /* '' */
.icon-tea:before { content: '\e823'; } /* '' */
.icon-upload:before { content: '\e824'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
